:root {
    --background: #fff;
    --color-text: #000;
    --color-primary-l1: #3d84ff;
    --color-primary-m1: #336dff;
    --color-primary-d1: #172bc4;
    --color-primary-brand: #1363df;
    --color-white: #fff;
    --color-black: #000;
    --color-gray-l1: #e5e5e7;
    --color-gray-l2: #b5b7bc;
    --color-gray-m1: #91959c;
    --color-gray-d1: #535965;
    --color-gray-d2: #181c24;
    --color-positive-1: #238564;
    --color-positive-2: #1a6149;
    --color-negative-1: #d7373f;
    --color-negative-2: #aa2228;
}
