@use "../abstracts/index" as *;
.hero {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    @include mq(tab) {
        flex-direction: column;
        align-items: center;
    }

    .hero-text {
        width: 50%;
        height: auto;
        background-color: var(--color-gray-l1);
        padding: 4rem 4rem;

        > * {
            margin-bottom: 1rem;
        }

        .hero-text__small {
            display: none;
        }

        @include mq(tab)  {
            position: absolute;
            width: 90%;
            z-index: 2;
            background-color: transparent;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 60%;
            text-align: center;

            .hero-text__large {
                display: none;
            }
            .hero-text__small {
                display: inline;
            }

        }
    }

    .hero-img {
        width: 50%;
        height: 600px;
        overflow: hidden;
        @include mq(tab)  {
            height: 100%;
        }
        img {
            border-radius: 0;
            object-position: top left;
            object-fit: cover;
            margin-bottom: -20px;
            @include mq(dt-s)  {
                transform: scale(1.6);
            }
            @include mq(tab)  {
                transform: none;
                mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 50% , transparent 100%);
            }
         }

        @include mq(tab)  {
            width: 100%;
        }
    }
}
