@use "../abstracts/index" as *;

.product {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 1em;

    @include mq(tab) {
        flex-direction: column;
        align-items: center;
        gap: 0;
        border-bottom: 1px solid var(--color-gray-l2);
    }

    .product__text-panel {
        width: 50%;
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;

        * {
            margin-top: 30px;
        }

        @include mq(tab) {
            width: 100%;
            align-items: center;
            * {
                margin-top: 15px;
            }
        }
    }
}

.product__image {
    width: 50%;
    height: auto;
    margin-bottom: 30px;

    img {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }
}

.product__description {
    margin-top: 20px;
    * {
        margin-bottom: 15px;
    }
}
