@use "../abstracts/index" as *;

.teaser-cta {
    width: 100%;
    margin-top: 20px;
    display: flex;
    .teaser {
        display: flex;
        justify-content: center;
        @include mq(tab) {
            flex-direction: column-reverse;
            align-items: center;
        }
        .teaser-text-panel {
            width: 50%;
            min-width: 380px;
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            h3, strong {
                margin-top: 30px;
                overflow-wrap: break-word;
            }
            strong {
                font-size: 16px;
            }
            * {
                margin-top: 20px;
            }
            hr {
                width: 90px;
                border: 5px solid var(--color-primary-brand);
                margin-top: 30px;
            }
            @include mq(tab) {
                align-items: center;
                margin: 0 30px 0;
            }
        }
    }
    .teaser-image {
        width: 50%;
        height: 450px;
        @include mq(tab) {
            width: 100%;
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: bottom left;
            border-radius: 0;
        }
    }
    .image-left {
        flex-direction: row-reverse !important;
        .teaser-text-panel {
            margin: -10px 0 -10px;
            padding: 80px;
            background: var(--color-black);
            color: var(--color-white);
            @include mq(tab) {
                padding: 30px;
            }
        }
        @include mq(tab) {
            flex-direction: column-reverse !important;
            align-content: center;
            align-items: center;
            align-self: center;
            img {
                width: 600px;
            }
            .teaser-text-panel {
                width: 500px;
                margin-top: -30px;
            }
        }
    }
}
