@use "../abstracts/index" as *;

.teaser-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin-top: -6rem;
    background-color: var(--color-white);
    position: relative;

    @include mq(tab) {
        flex-direction: column;
        align-items: center;
    }

    a {
        z-index: 2;
    }

    .teaser-row-item {
        width: 230px;
        height: 230px;

        @include mq(dt-s) {
            width: 160px;
            height: 160px;
        }

        @include mq(tab) {
            width: 300px;
            height: 300px;
        }

        .teaser-row-item__img {
            aspect-ratio: 1 / 1;
            overflow: hidden;
            z-index: 3;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: top left;
            }

        }
        .teaser-row-item__text {
            float: right;
            position: relative;
            width: inherit;
            top: -30px;
            background-color: black;
            border-bottom: 5px solid var(--color-primary-brand);
            color: #fff;
            padding: 10px 10px;
            opacity: 0.8;

            p {
                font-size: 14px;
            }
            h2 {
                font-size: 1.2em;
            }
        }
    }
}



